/****** Object:  User [thinquit_ssc]    Script Date: 31-01-2021 11:23:31 ******/
CREATE USER [thinquit_ssc] FOR LOGIN [thinquit_ssc] WITH DEFAULT_SCHEMA=[thinquit_ssc]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [thinquit_ssc]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [thinquit_ssc]
GO
ALTER ROLE [db_datareader] ADD MEMBER [thinquit_ssc]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [thinquit_ssc]
GO
/****** Object:  Schema [thinquit_gujaomsi]    Script Date: 31-01-2021 11:23:32 ******/
CREATE SCHEMA [thinquit_gujaomsi]
GO
/****** Object:  Schema [thinquit_ssc]    Script Date: 31-01-2021 11:23:32 ******/
CREATE SCHEMA [thinquit_ssc]
GO
/****** Object:  View [dbo].[ComplaintList]    Script Date: 31-01-2021 11:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[ComplaintList] 
AS
	select Complaints.Id, CAST(Complaints.createddate as Date) as CreateDate, ShopName, ShopAddress, 
		DateOfInspection, [Comments], CityName, SpeciesName, Status, AspNetUsers.Name as CreatedBy, 
		IsRejecet, IsRegister, IsEmailSend,
		case when IsRegister = 1 then RegistrationDate else null end as RegistrationDate,
		case when IsEmailSend = 1 then Citys.MCEmail else null end as MCEmail,
		case when IsEmailSend = 1 then Citys.FCCIEmail else null end as FCCIEmail
	from Complaints 
	inner join Citys on Citys.Id = Complaints.City
	inner join Species on Species.Id = Complaints.SpeciesId 
	inner join AspNetUsers on AspNetUsers.Id = Complaints.CreatedBy
	inner join ComplaintStatus on ComplaintStatus.Id = Complaints.ComplainStatus
GO
/****** Object:  View [dbo].[UserDetailWithRole]    Script Date: 31-01-2021 11:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   view [dbo].[UserDetailWithRole]
as
select au.id as Id,au.Name,au.Email,au.Phonenumber,citys.Cityname as City,arole.Name as UserRole,arole.id as RoleId from AspNetUsers au
inner join AspNetUserRoles ar on au.Id=ar.UserId
inner join aspnetroles arole on arole.id=ar.Roleid
inner join citys on citys.id = au.cityid
where arole.Id not in ('203276FA-7D91-4329-8344-C91B9F1BFC44')

GO
/****** Object:  View [dbo].[UserList]    Script Date: 31-01-2021 11:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[UserList]
AS
select [Name], Email, PhoneNumber, UserDetailWithRole.City, UserRole 
	, (select count(*) from Complaints where Complaints.CreatedBy = UserDetailWithRole.Id) as Complaints
from UserDetailWithRole
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 31-01-2021 11:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 31-01-2021 11:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 31-01-2021 11:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 31-01-2021 11:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 31-01-2021 11:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 31-01-2021 11:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[City] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[FCMToken] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[OTP] [nvarchar](100) NULL,
	[IsDefaultAdmin] [bit] NULL,
	[CityId] [int] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CityLows]    Script Date: 31-01-2021 11:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityLows](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CityId] [int] NULL,
	[LowId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Citys]    Script Date: 31-01-2021 11:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](500) NULL,
	[CountryId] [int] NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[ModifiedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[MCEmail] [nvarchar](200) NULL,
	[FcciEmail] [nvarchar](200) NULL,
	[AdminEmail] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComplaintImages]    Script Date: 31-01-2021 11:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComplaintImages](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ComplaintId] [bigint] NULL,
	[ImageUrl] [varchar](max) NULL,
	[Imagetype] [nvarchar](200) NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[ModifiedDate] [datetime] NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Complaints]    Script Date: 31-01-2021 11:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaints](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ShopName] [nvarchar](max) NULL,
	[ShopAddress] [nvarchar](max) NULL,
	[DateOfInspection] [datetime] NULL,
	[Comments] [nvarchar](max) NULL,
	[Violations] [nvarchar](max) NULL,
	[GpsLocations] [nvarchar](100) NULL,
	[UserId] [nvarchar](128) NULL,
	[City] [int] NULL,
	[SpeciesId] [int] NULL,
	[ComplainStatus] [int] NULL,
	[GroupName] [nvarchar](500) NULL,
	[IsDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[ModifiedDate] [datetime] NULL,
	[IsRejecet] [bit] NULL,
	[CommentForRejection] [nvarchar](max) NULL,
	[RegistrationDate] [datetime] NULL,
	[IsRegister] [bit] NULL,
	[IsEmailSend] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComplaintsLows]    Script Date: 31-01-2021 11:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComplaintsLows](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ComplaintId] [bigint] NULL,
	[LowId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComplaintStatus]    Script Date: 31-01-2021 11:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComplaintStatus](
	[ID] [int] NULL,
	[Status] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 31-01-2021 11:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[InsertDate] [datetime] NOT NULL,
	[UserID] [varchar](100) NULL,
	[Method] [varchar](100) NULL,
	[Status] [varchar](50) NULL,
	[Request] [varchar](max) NULL,
	[Response] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lows]    Script Date: 31-01-2021 11:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lows](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LowsTitile] [nvarchar](200) NULL,
	[LowsDescriptions] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Species]    Script Date: 31-01-2021 11:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Species](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SpeciesName] [varchar](500) NULL,
	[Icon] [nvarchar](120) NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'989D2937-0FC5-497D-980C-B2E8583602B9', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'8C850E7F-E6D8-468E-86AC-531FE5F7298E', N'Controller')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'203276FA-7D91-4329-8344-C91B9F1BFC44', N'Site Admin')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'592dbc1f-663b-434a-9c7c-1bc7b86393de', N'203276FA-7D91-4329-8344-C91B9F1BFC44')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'ba0132d0-7250-4559-9650-43e13f4d1f50', N'203276FA-7D91-4329-8344-C91B9F1BFC44')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'018cddf4-9649-42ed-9405-df45cd087afc', N'5505CC3D-9D18-43DD-BACA-2C70A53B559F')
GO
INSERT [dbo].[AspNetUsers] ([Id], [City], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FCMToken], [Name], [OTP], [IsDefaultAdmin], [CityId]) VALUES (N'018cddf4-9649-42ed-9405-df45cd087afc', N'Mumbai', N'69thenagain69@gmail.com', 0, N'AM/ZaD7Bsc1W9VR6OvA3o09veHUp7t1+0JMkEPNYl4HXdxPN8OJ3Xfcv7neOEjZxRQ==', N'308c685c-2863-4532-920e-97447a0ba575', N'7219585607', 0, 0, NULL, 0, 0, N'69thenagain69@gmail.com', NULL, N'dipak', NULL, 0, 10)
INSERT [dbo].[AspNetUsers] ([Id], [City], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FCMToken], [Name], [OTP], [IsDefaultAdmin], [CityId]) VALUES (N'023face2-0d9a-497e-b347-7e5fd6570d6a', N'Bangalore', N'pateljigu211@gmail.com', 0, N'AEzSPkLSymcI5WjwGPpcNzQI7AJ5wTvrm2+5kttjzWL4oy52A+j/NHnur8HbcSgjog==', N'b61ef3c8-5a89-494f-b68b-aac33f407176', N'9825227705', 0, 0, NULL, 0, 0, N'pateljigu211@gmail.com', NULL, N'jignesh', NULL, 0, 2)
INSERT [dbo].[AspNetUsers] ([Id], [City], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FCMToken], [Name], [OTP], [IsDefaultAdmin], [CityId]) VALUES (N'031885e5-ea61-414f-86f9-f2c18d41bcdf', N'North Delhii', N'Puneetkumar9953@gmail.com', 0, N'APFNAdBlHKHPPy/SI2KRwI7OYSGgwbHTikoJ3CAUQqfUKsFsux8gbCHoNR3LkgldEA==', N'95c351da-6aba-46e8-a8c0-493531338ff8', N'8076410250', 0, 0, NULL, 0, 0, N'Puneetkumar9953@gmail.com', NULL, N'Puneet Kumar', NULL, 0, 8)
GO
SET IDENTITY_INSERT [dbo].[CityLows] ON 

INSERT [dbo].[CityLows] ([Id], [CityId], [LowId]) VALUES (1, 1, 1)
INSERT [dbo].[CityLows] ([Id], [CityId], [LowId]) VALUES (2, 1, 2)
INSERT [dbo].[CityLows] ([Id], [CityId], [LowId]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[CityLows] OFF
GO
SET IDENTITY_INSERT [dbo].[Citys] ON 

INSERT [dbo].[Citys] ([Id], [CityName], [CountryId], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsActive], [MCEmail], [FcciEmail], [AdminEmail]) VALUES (1, N'Hyderabad', 1, N'023face2-0d9a-497e-b347-7e5fd6570d6a', CAST(N'2020-05-25T21:20:23.167' AS DateTime), N'023face2-0d9a-497e-b347-7e5fd6570d6a', CAST(N'2020-05-25T21:20:23.167' AS DateTime), 1, N'commissioner@ghmc.gov.in ;commissionerghmc2013@gmail.com', N'prlsecy_hmfw@telangana.gov.in;telanganacfs@gmail.com;tshealthpeshi@gmail.com', N'sweta@fiapo.org')
INSERT [dbo].[Citys] ([Id], [CityName], [CountryId], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsActive], [MCEmail], [FcciEmail], [AdminEmail]) VALUES (2, N'Bangalore', 1, N'023face2-0d9a-497e-b347-7e5fd6570d6a', CAST(N'2020-05-25T21:20:23.167' AS DateTime), N'023face2-0d9a-497e-b347-7e5fd6570d6a', CAST(N'2020-05-25T21:20:23.167' AS DateTime), 1, N'comm@bbmp.gov.in', N'jdphilabs@gmail.com;comhfw@gmail.com;aochennai@fssai.gov.in', N'sweta@fiapo.org')
INSERT [dbo].[Citys] ([Id], [CityName], [CountryId], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsActive], [MCEmail], [FcciEmail], [AdminEmail]) VALUES (6, N'South Delhi', 1, N'023face2-0d9a-497e-b347-7e5fd6570d6a', CAST(N'2020-05-25T21:20:23.167' AS DateTime), N'023face2-0d9a-497e-b347-7e5fd6570d6a', CAST(N'2020-05-25T21:20:23.167' AS DateTime), 1, N'commissioner-sdmc@mcd.gov.in;dcsw@nic.in', N'cfss.delhi@nic.in;aodelhi@fssai.gov.in', N'sweta@fiapo.org')
SET IDENTITY_INSERT [dbo].[Citys] OFF
GO
SET IDENTITY_INSERT [dbo].[ComplaintImages] ON 

INSERT [dbo].[ComplaintImages] ([Id], [ComplaintId], [ImageUrl], [Imagetype], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDelete]) VALUES (13, 122, N'https://thindev.blob.core.windows.net/livingfree/bee9e15d-8ccc-4812-94b6-f35865912c16.jpg', N'.jpg', NULL, CAST(N'2020-07-06T18:11:37.090' AS DateTime), NULL, CAST(N'2020-07-06T18:11:37.090' AS DateTime), NULL)
INSERT [dbo].[ComplaintImages] ([Id], [ComplaintId], [ImageUrl], [Imagetype], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDelete]) VALUES (14, 122, N'https://thindev.blob.core.windows.net/livingfree/005d3143-56df-4d52-a9a4-b43831d55c0f.jpg', N'.jpg', NULL, CAST(N'2020-07-06T18:11:37.637' AS DateTime), NULL, CAST(N'2020-07-06T18:11:37.637' AS DateTime), NULL)
INSERT [dbo].[ComplaintImages] ([Id], [ComplaintId], [ImageUrl], [Imagetype], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDelete]) VALUES (15, 122, N'https://thindev.blob.core.windows.net/livingfree/bb267d16-ba42-4dde-8749-f85eddf85250.jpg', N'.jpg', NULL, CAST(N'2020-07-06T18:11:38.513' AS DateTime), NULL, CAST(N'2020-07-06T18:11:38.513' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ComplaintImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Complaints] ON 

GO
SET IDENTITY_INSERT [dbo].[Complaints] OFF
GO
SET IDENTITY_INSERT [dbo].[ComplaintsLows] ON 

INSERT [dbo].[ComplaintsLows] ([Id], [ComplaintId], [LowId]) VALUES (51, 120, 1)
INSERT [dbo].[ComplaintsLows] ([Id], [ComplaintId], [LowId]) VALUES (52, 120, 2)
INSERT [dbo].[ComplaintsLows] ([Id], [ComplaintId], [LowId]) VALUES (53, 120, 3)
GO
SET IDENTITY_INSERT [dbo].[ComplaintsLows] OFF
GO
INSERT [dbo].[ComplaintStatus] ([ID], [Status]) VALUES (1, N'Pending')
INSERT [dbo].[ComplaintStatus] ([ID], [Status]) VALUES (2, N'Verified')
INSERT [dbo].[ComplaintStatus] ([ID], [Status]) VALUES (3, N'Rejected')
GO
SET IDENTITY_INSERT [dbo].[Lows] ON 

SET IDENTITY_INSERT [dbo].[Lows] OFF
GO
SET IDENTITY_INSERT [dbo].[Species] ON 

INSERT [dbo].[Species] ([Id], [SpeciesName], [Icon], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'Cow', N'1', N'32284135-c33c-4ff0-a453-9ce7a9a7fb5a', CAST(N'2020-02-21T13:20:00.920' AS DateTime), N'32284135-c33c-4ff0-a453-9ce7a9a7fb5a', CAST(N'2020-02-21T13:20:00.920' AS DateTime))
INSERT [dbo].[Species] ([Id], [SpeciesName], [Icon], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, N'Buffalo', N'1', N'32284135-c33c-4ff0-a453-9ce7a9a7fb5a', CAST(N'2020-02-21T13:26:13.507' AS DateTime), N'32284135-c33c-4ff0-a453-9ce7a9a7fb5a', CAST(N'2020-02-21T13:26:13.507' AS DateTime))
INSERT [dbo].[Species] ([Id], [SpeciesName], [Icon], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, N'Dog', N'1', N'32284135-c33c-4ff0-a453-9ce7a9a7fb5a', CAST(N'2020-03-04T12:57:10.687' AS DateTime), N'32284135-c33c-4ff0-a453-9ce7a9a7fb5a', CAST(N'2020-03-04T12:57:10.687' AS DateTime))
SET IDENTITY_INSERT [dbo].[Species] OFF
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [IsDefaultAdmin]
GO
ALTER TABLE [dbo].[Citys] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Citys] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Citys] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ComplaintImages] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ComplaintImages] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[ComplaintImages] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Complaints] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Complaints] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Complaints] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Complaints] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Complaints] ADD  DEFAULT ((0)) FOR [IsRejecet]
GO
ALTER TABLE [dbo].[Complaints] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[Complaints] ADD  DEFAULT ((0)) FOR [IsRegister]
GO
ALTER TABLE [dbo].[Logs] ADD  DEFAULT (getdate()) FOR [InsertDate]
GO
ALTER TABLE [dbo].[Lows] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Lows] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Species] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Species] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CityLows]  WITH CHECK ADD FOREIGN KEY([CityId])
REFERENCES [dbo].[Citys] ([Id])
GO
ALTER TABLE [dbo].[CityLows]  WITH CHECK ADD FOREIGN KEY([LowId])
REFERENCES [dbo].[Lows] ([Id])
GO
ALTER TABLE [dbo].[ComplaintImages]  WITH CHECK ADD FOREIGN KEY([ComplaintId])
REFERENCES [dbo].[Complaints] ([Id])
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD FOREIGN KEY([SpeciesId])
REFERENCES [dbo].[Species] ([Id])
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD FOREIGN KEY([City])
REFERENCES [dbo].[Citys] ([Id])
GO
ALTER TABLE [dbo].[ComplaintsLows]  WITH CHECK ADD FOREIGN KEY([ComplaintId])
REFERENCES [dbo].[Complaints] ([Id])
GO
ALTER TABLE [dbo].[ComplaintsLows]  WITH CHECK ADD FOREIGN KEY([LowId])
REFERENCES [dbo].[Lows] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[DeleteAppUsers]    Script Date: 31-01-2021 11:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteAppUsers]
@UserId nvarchar(200)
as
begin
delete aspnetusers where id =@UserId
delete aspnetuserRoles where UserId=@UserId
End
GO
/****** Object:  StoredProcedure [dbo].[DeleteComplaints]    Script Date: 31-01-2021 11:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   Procedure [dbo].[DeleteComplaints]
@id int
as
begin
	
	delete ComplaintImages where ComplaintId=@id
	delete ComplaintsLows where ComplaintId=@id
	delete Complaints where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[GetUserRole]    Script Date: 31-01-2021 11:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   procedure [dbo].[GetUserRole]
@UserId nvarchar(200)
as
begin
select aspnetroles.name as UserRole from aspnetuserroles 
inner join aspnetroles on aspnetroles.id=aspnetuserroles.RoleId
where UserId=@UserId
end
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserRole]    Script Date: 31-01-2021 11:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UpdateUserRole]
@RoleId nvarchar(200),
@UserId nvarchar(200)
as
begin

declare @Count int;

select @Count=count(*) from aspnetuserRoles where Userid=@UserId

	if(@Count>0)
	begin	
		update aspnetuserRoles
		set RoleId=@RoleId
		where Userid=@UserId
	End
	else
	begin
		insert into aspnetuserRoles values(@UserId,@RoleId)
	end
end
GO
